[submodule "Pretty-Local"]
	path = Pretty-Local
	url = https://github.com/marcuswestin/Pretty-Local.git
[submodule "dotfiles"]
	path = dotfiles
	url = https://github.com/marcuswestin/dotfiles.git
[submodule "fun"]
	path = fun
	url = https://github.com/marcuswestin/fun.git
[submodule "git-star"]
	path = git-star
	url = https://github.com/marcuswestin/git-star.git
[submodule "machine"]
	path = machine
	url = https://github.com/marcuswestin/machine.git
[submodule "tailwind"]
	path = tailwind
	url = https://github.com/marcuswestin/tailwind.git
[submodule "ts-libs"]
	path = ts-libs
	url = https://github.com/marcuswestin/ts-libs.git
[submodule "wordflower"]
	path = wordflower
	url = https://github.com/marcuswestin/wordflower.git
[submodule "interviews"]
	path = interviews
	url = https://github.com/marcuswestin/interviews.git
[submodule "hugson-palleys"]
	path = hugson-palleys
	url = https://github.com/marcuswestin/hugson-palleys.git
[submodule "misc/ts-project-boilerplate"]
	path = misc/ts-project-boilerplate
	url = https://github.com/marcuswestin/ts-project-boilerplate.git
[submodule "misc/monorepo-merge"]
	path = misc/monorepo-merge
	url = https://github.com/marcuswestin/monorepo-merge.git
[submodule "store.js"]
	path = store.js
	url = https://github.com/marcuswestin/store.js.git
[submodule "WebViewJavascriptBridge"]
	path = WebViewJavascriptBridge
	url = https://github.com/marcuswestin/WebViewJavascriptBridge.git
